= simple_form_for(@dash) do |f|
  = f.error_notification
  - flash.each do |message_type, message|
    %br= "#{message_type} -- #{message}"

  .form-inputs
    = f.input :name
    = f.association :userdashes
    = f.association :dashcampaigns
    = f.association :dashplayers

  .form-actions
    = f.button :submit
