= simple_form_for(@dash) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :user
    = f.association :dashcampaigns
    = f.association :dashplayers

  .form-actions
    = f.button :submit
