= greet_user_message(@my_dash.name, @user.last_sign_in_at)

%h2 My dash: #{@my_dash.name}

%h3 Campaigns I run

%br
= link_to 'Make New Campaign', new_campaign_path, :class => "btn btn-default btn-xs" 

%br
= render partial: 'dash_campaigns'

%br
= link_to 'Join New Game', campaigns_path, :class => "btn btn-default btn-xs"

%br
= render partial: 'shared/player_list', locals: { list: @players }
