%p#notice= notice

%p
  %b Name:
  = @dash.name
%p
  %b User:
  = @dash.user_id
%p
%b Campaigns I run ... (Dashcampaigns):
%ul
  - if @dash.campaigns.count > 0 then
    - @dash.campaigns.each do |x|
      %li= x.id
      %li= x.name
  - else
    Campaigns to see here
%p
  %b Characters to play ... (dashplayers):
%ul  
  - if @dash.dashplayers.count > 0 then
    - @dash.dashplayers.each do |x|
      %li= x.id
      %li= x.name
  - else
    No players to see here  

= link_to 'Edit', edit_dash_path(@dash)
\|
= link_to 'Back', dashes_path
