%h1 Showing ...

%p#notice= notice
%ul
  %li= name_id @dash
  %li= dashes_path
  %li 
    Dashboard:
    // = dashboard_path
%p
  %b Name:
  = @dash.name
%p
  %b User:
  = @dash.name
%p
%b Campaigns I run ... (dashcampaigns):
%ul
  - if @dash.campaigns.count > 0 then
    - @dash.campaigns.each do |x|
      %li= x.name
  - else
    Campaigns to see here
%p
  %b Characters to play ... (dashplayers):
%ul  
  - if @dash.players.count > 0 then
    - @dash.players.each do |x|
      %li= x.name
  - else
    No players to see here  

= link_to 'Edit', edit_dash_path(@dash)
\|
= link_to 'Back', dashes_path
