%p#notice= notice

%p
  %b User:
  = email_name @campaign_registration.user
%p
  %b Dash:
  = name_id @campaign_registration.dash
  
%p
  %b Campaign:
  = name_id @campaign_registration.campaign
  
%p
  %b Player:
  = name_id @campaign_registration.player

%p
  %b Country:
  = name_id @campaign_registration.country


= link_to 'Edit', edit_campaign_registration_path(@campaign_registration)
\|
= link_to 'Back', campaign_registrations_path
