= simple_form_for(@campaign_registration) do |f|
  = f.error_notification

  .form-inputs
    = f.association :campaign, :selected => @campaign_id, disabled: true
    = f.association :player, disabled: true, :selected => @campaign_registration[:player_id]
    = f.simple_fields_for :player do |ff|
      = ff.input :name
      = ff.input :id, disabled: true
    = f.association :country, disabled: true
    = f.simple_fields_for :country do |ff|
      = ff.input :name
      = ff.input :id, disabled: true
    = f.association :dash, :selected => @campaign_registration[:dash_id], disabled: true
    = f.association :user, :selected => @campaign_registration[:user_id], disabled: true

  .form-actions
    = f.button :submit
