%p#notice= notice

%p
  %b User:
  = @campaign_registration.user
%p
  %b Dash:
  = @campaign_registration.dash
%p
  %b Campaign:
  = @campaign_registration.campaign
%p
  %b Player:
  = @campaign_registration.player

%p
  %b Player name:
  = @campaign_registration.player.name
%p
  %b Country:
  = @campaign_registration.country

%p
  %b Country name:
  = @campaign_registration.country.name

= link_to 'Edit', edit_campaign_registration_path(@campaign_registration)
\|
= link_to 'Back', campaign_registrations_path
