= provide(:title, "Neighbors")

%h1 Listing neighborhoods

%table{:class => "table table-striped table-hover"}
  %thead
    %tr
      %th Neighbor
      %th Target
      %th
      %th
      %th

  %tbody
    - @neighborhoods.each do |neighborhood|
      %tr
        %td= neighborhood.neighbor_id
        %td= neighborhood.target_id
        %td= link_to 'Show', neighborhood, :class => "btn btn-default btn-xs" 
        %td= link_to 'Edit', edit_neighborhood_path(neighborhood), :class => "btn btn-default btn-xs" 
        %td= link_to 'Destroy', neighborhood, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default btn-xs" 

%br

= link_to 'New Neighborhood', new_neighborhood_path
