= provide(:title, "Neighbors")

%h1 Listing neighborhoods

%table{:class => "table table-striped table-hover"}
  %thead
    %tr
      %th Target
      %th Neighbor
      %th
      %th
      %th

  %tbody
    - @neighborhoods.each do |neighborhood|
      %tr
        %td= neighborhood.target_id
        %td= neighborhood.neighbor_id
        %td= render partial: 'shared/interact_options', locals: { interact_item: neighborhood }

%br

= link_to 'New Neighborhood', new_neighborhood_path
