%h1 Listing neighborhoods

%table
  %thead
    %tr
      %th Neighbor
      %th Target
      %th
      %th
      %th

  %tbody
    - @neighborhoods.each do |neighborhood|
      %tr
        %td= neighborhood.neighbor_id
        %td= neighborhood.target_id
        %td= link_to 'Show', neighborhood
        %td= link_to 'Edit', edit_neighborhood_path(neighborhood)
        %td= link_to 'Destroy', neighborhood, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Neighborhood', new_neighborhood_path
