= provide(:title, "Neighorhoods")

%p#notice= notice

%p
  %b Neighbor:
  = @neighborhood.neighbor_id
  = @neighborhood.neighbor.name
%p
  %b Target:
  = @neighborhood.target_id
  = @neighborhood.target.name

= link_to 'Edit', edit_neighborhood_path(@neighborhood), :class => "btn xs-btn"

