= provide(:title, "Campaigns")
%h1 Listing campaigns

%table{:class => "table table-striped table-hover"}
  %thead
    %tr
      %th Name
      %th Description
      %th


  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.name
        %td= campaign.description
        // %td= link_to 'Show', [campaign], :class => "btn btn-xs btn-default"
        %td= link_to "Join", join_campaign_path(campaign), :class => "btn btn-xs btn-default"
        %td= render partial: 'shared/interact_options', locals: { interact_item: campaign }

%br

= link_to 'New Campaign', new_campaign_path, :class => "btn btn-md btn-default"


