= simple_form_for(@campaign_registry) do |f|
  = f.error_notification

  .form-inputs
    = f.association :campaign
    = f.association :user
    = f.association :dash
    = f.association :user

  .form-actions
    = f.button :submit
