%h1 Listing campaign_registries

%table
  %thead
    %tr
      %th Campaign
      %th User
      %th Dash
      %th User
      %th
      %th
      %th

  %tbody
    - @campaign_registries.each do |campaign_registry|
      %tr
        %td= campaign_registry.campaign
        %td= campaign_registry.user
        %td= campaign_registry.dash
        %td= campaign_registry.user
        %td= link_to 'Show', campaign_registry
        %td= link_to 'Edit', edit_campaign_registry_path(campaign_registry)
        %td= link_to 'Destroy', campaign_registry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Campaign registry', new_campaign_registry_path
