%p#notice= notice

%p
  %b Campaign:
  = @campaign_registry.campaign
%p
  %b User:
  = @campaign_registry.user
%p
  %b Dash:
  = @campaign_registry.dash
%p
  %b User:
  = @campaign_registry.user

= link_to 'Edit', edit_campaign_registry_path(@campaign_registry)
\|
= link_to 'Back', campaign_registries_path
