%table{:class => "table table-striped table-hover"}
  %thead
    %tr
      %th Screen Name
      %th Motto
      %th Country
      // %th Country
      %th
      %th
      %th
  %tbody
    - list.each do |player|
      %tr
        %td= player.screenname
        %td= player.motto
        %td= player.country_id
        // %td= player.country_name
        %td= link_to 'Show', player, :class => "btn btn-default btn-xs" 
        %td= link_to 'Edit', edit_player_path(player), :class => "btn btn-default btn-xs" 
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default btn-xs" 
