.form-horizontal
  .fieldset
    .form-inline
      .row-fluid
      = simple_form_for @country do |f|
        = f.error_notification
        .countries.text
          = f.input :name, input_html: {:placeholder => "...insert country name..."}
          = f.input :description
          = f.input :size
        .row-fuild
          %a.btn.btn-primary{"aria-controls" => "neighborsDisplay", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#neighborsDisplay"}
            Show Neighbors
          = render :partial => 'country_neighbors', :f => @country
          .states
            = f.simple_fields_for :states do |state|
              = render 'state_fields', :f => state
            .links.row
              = link_to_add_association 'Add State', f, :states, :class => "btn btn-default"
        .form-actions.row
          = f.button :submit
