.fieldset.form-inline
  = simple_form_for @country do |f|
    = f.error_notification
    .countries
      = f.input :name, input_html: {:placeholder => "...insert country name..."}
      = f.input :description
    .row-fuild
      %a.btn.btn-primary{"aria-controls" => "neighborsDisplay", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#neighborsDisplay"}
        Show Neighbors
      = render partial: 'country_neighbors', :f => @country
      .states
      = f.simple_fields_for :states do |state|
        = render 'state_fields', :f => state
    .links.row
      = link_to_add_association 'Add State', f, :states,  render_options: { wrapper: 'inline_form' }
    .form-actions.row
      = f.button :submit