%h1 Listing countries

%table{:class => "table table-striped table-hover"}
  %thead
    %tr
      %th Name
      %th Description
      %th Size
      %th Options ...
      %th
      %th

  %tbody
    - @countries.each do |country|
      %tr
        %td= country.name
        %td= country.description
        %td= country.size
        %td= link_to 'Show', country
        %td= link_to 'Edit', edit_country_path(country)
        %td= link_to 'Destroy', country, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


