%h1 Listing countries

%table{:class => "table table-striped table-hover"}  
  %thead
    %tr
      %th Name
      %th Description
      %th Player
  %tbody
    - @countries.each do |country|
      %tr
        %td= country.name
        %td= country.description
        .btn-group-xs
          // %td= render partial: 'shared/interact_options', locals: { interact_item: @country }
          %td= link_to 'Add Neighbors', :neighborhoods, :class => "btn btn-default btn-xs" 
      - if country.neighbors.count > 0
        - for neighbor in country.neighbors
          %tr
            %td
              = neighbor.id
            %td
              = neighbor.name
            %td
              
%br
= link_to 'New Country', new_country_path
