%p#notice= notice

%p
  %b Name:
  = @country.name
%p
  %b Description:
  = @country.description
%p
  %b Size:
  = @country.size

= link_to 'Edit', edit_country_path(@country)
\|
= link_to 'Back', countries_path
