%p#notice= notice

%p
  %b name:
  = @player.name
%p
  %b Motto:
  = @player.motto
%p
  %b Country:
  - if @countries.count > 0
    - @countries.each do |x|
      = name_id x
  - else
    "Nothing found ..."
    
= link_to 'Edit', edit_player_path(@player)
