= provide(:title, "Campaigns")

%p#notice= notice

.jumbotron.campaigndetails
  %h1= @campaign.name
  %p= @campaign.description
  %ul
  - if @dash.present?
    %li
      = @dash.name
    %li
      = email_name @dash.users.first


.hoster
  %h2= "#{@user.name} runs this..."
  %br
  = join_helper(@campaign.id)

  %br

.players
  = render partial: 'shared/player_list', locals: { list: @players }

.countries
  %h2
    Countries List
  - if @ccountries.count > 0
    %table{:class => "table table-striped table-hover"}
      %tbody
      - @ccountries.each do |joinedc|
        %tr
          %td= joinedc.country.name
          %td= link_to "Show", country_url(joinedc.country)
          %td= link_to "Edit", edit_country_url(joinedc.country.id)
      = will_paginate @ccountries

  - else
    %p
      No countries found...
%p= link_to 'Edit', edit_campaign_path(@campaign), :class => "btn xs-btn"
