- the_title = "Players"
= provide(:title, the_title)

= current_user.id
= @dash.name

%h1 Your players 

= link_to 'New Player', new_player_path,:class => "btn btn-md btn-default"

.list-group
  - if @dash_players.count > 0
  
    = render partial: 'shared/lister_all', locals: { the_list: @dash_players }

    = will_paginate @players
    
  - else
    .my-well
      %li No #{the_title} found.

%br

%h1 Listing all players
.list-group
  - if @players.count > 0
  
    = will_paginate @players
    
    = render partial: 'shared/rower_all', locals: { the_list: @players }
    // = render partial: 'shared/lister_all', locals: { the_list: @players }
    
    = will_paginate @players
    
  - else
  
    %li No #{the_title} found.

%br

