- the_title = "Players"
= provide(:title, the_title)

%h1 Your players 

= link_to 'New Player', new_player_path,:class => "btn btn-md btn-default"

.list-group
  - if @dash_players.count > 0
    = will_paginate @dash_players, :param_name => "my_player_page"
    = render partial: 'shared/player_list', locals: { the_list: @dash_players }

    
    
  - else
    .my-well
      %li No #{the_title} found.

%br

%h1 Listing all players
.list-group
  - if @players.count > 0
    = will_paginate @players, :param_name => "player_page"
    = render partial: 'shared/player_row', locals: { the_list: @players }

  - else
    %li No #{the_title} found.

%br